@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global variables */
:root {
    --font-neue-machina: 'Neue Machina';
    --font-neue-machina-normal: 'Neue Machina-regular';
    --font-neue-machina-light: 'Neue Machina-light';
    --font-Euclid: 'Euclid Circular A';
    --font-abz: "ABeeZee", sans-serif;
    --font-base-weight: 400;
    --font-base-size: 13px;
    --font-primary-size: 16px;
    --font-secondary-size: 18px;
    --font-20-size: 20px;
    --font-primary-font-color: #273A41;
    --font-secondary-font-color: #00B3E8;
}


/* Base styles */
html,
body {
    overflow-x: hidden;
    touch-action: pan-y;
    margin: 0;
    padding: 0;
}


/* Font definitions */
@font-face {
    font-family: 'Euclid Circular A';
    src: url(./fonts/Euclid\ Circular\ A\ Regular.ttf);
}

@font-face {
    font-family: 'Neue Machina-regular';
    src: url('./fonts/NeueMachina-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Neue Machina-light';
    src: url('./fonts/NeueMachina-Light.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('./fonts/NeueMachina-Ultrabold.otf');
    font-weight: 900;
}


/* Header and Navigation */
header {
    margin: 0 auto;
    position: relative;
    z-index: 1111111;
}

nav {
    max-width: 1376px;
    padding: 8px 10px;
    margin: 31px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 213px;
}

.logo img {
    width: 201px;
    height: 24px;
    cursor: pointer;
}

.nav-items {
    
    display: flex;
    gap: 37.5px;
    align-items: center;
    padding-left: 0;
    height: 13px;
}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    transition: text-decoration 0.3s ease;
    position: relative;
}

.n::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all .5s;

}

.n:hover::before {
    width: 100%;
}

.mobile-btn {
    display: none;
}

.desktop-btn {
    padding: 12px 16px;
    background: #fff;
    border-radius: 6px;
    color: #01A590;
    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);
    font-size: var(--font-base-size);
    line-height: 16px;
    border: none;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.desktop-btn:hover {
    transform: scale(1.1);
}


.toggle-btn {
    width: 28px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.toggle-btn span {
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}





/* Hero Section */
.hero {
    position: relative;
    height: 732px;
    margin-top: -140px;
    z-index: 1;
}

.hero-bg {
    max-width: 100%;
    width: 100%;
    height: 832px;
    background-image: url('./images/Rectangle 28 (1).png');
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 97%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.hero-container {
    padding-top: 125px;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 132px;
    position: relative;
    z-index: 3;
}


.her-img {
    position: absolute;
    bottom: -16%;
    right: 3%;
    z-index: 7;
}

.img-1 {
    width: auto;
    height: auto;
    z-index: 6;
    position: relative;
    margin-right: 40px;
}


.img-2 {
    position: absolute;
    top: -35%;
    right: -5%;
    z-index: 6;
}

.img-3 {
    position: absolute;
    top: 29%;
    right: 7%;
    z-index: 2;
    

}

.img-4 {
    position: absolute;
    top: -45%;
    left: 14%;
}

.img-10 {
    display: none;
}

.hero-title {
    font-family: var(--font-neue-machina);
    font-weight: 800;
    font-size: 64px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: #FFFFFF;
    
    margin-bottom: 40px;
    margin-top: 66px;
}

.hero-desc {
    font-family: var(--font-Euclid);
    font-weight: 400;

    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: 442px;
    padding-left: 68px;
    margin-bottom: 44px;
}

.title-btn {
    font-family: var(--font-Euclid);
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #FFFFFF;
    padding-left: 68px;
}

.h-btns {
    display: flex;
    gap: 12px;
    padding-left: 68px;
    margin-bottom: 41px;
}

.btn-1 {
    width: 140px;
    height: 56px;
    border-radius: 8px;
    font-family: var(--font-Euclid);
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #38484E;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    background: #FFFFFF;
}

.btn-2 {
    width: 189px;
    height: 56px;
    border-radius: 8px;
    font-family: var(--font-Euclid);
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #38484E;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    background: #FFFFFF;

}

.btn-1:hover,
.btn-2:hover,
.he-com-btn:hover {
    transform: scale(1.1);
}


.hero-community {
    padding-left: 68px;
}

.hero-com-btn {
    display: flex;
    gap: 12px;
}

.he-com-btn {
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    font-family: var(--font-Euclid);
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 56px;
    justify-content: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}



