@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global variables */
:root {
    --font-neue-machina: 'Neue Machina';
    --font-neue-machina-normal: 'Neue Machina-regular';
    --font-neue-machina-light: 'Neue Machina-light';
    --font-Euclid: 'Euclid Circular A';
    --font-abz: "ABeeZee", sans-serif;
    --font-base-weight: 400;
    --font-base-size: 13px;
    --font-primary-size: 16px;
    --font-secondary-size: 18px;
    --font-20-size: 20px;
    --font-primary-font-color: #273A41;
    --font-secondary-font-color: #00B3E8;
}


/* Base styles */
html,
body {
    overflow-x: hidden;
    touch-action: pan-y;
    margin: 0;
    padding: 0;
}


/* Font definitions */
@font-face {
    font-family: 'Euclid Circular A';
    src: url(./fonts/Euclid\ Circular\ A\ Regular.ttf);
}

@font-face {
    font-family: 'Neue Machina-regular';
    src: url('./fonts/NeueMachina-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Neue Machina-light';
    src: url('./fonts/NeueMachina-Light.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('./fonts/NeueMachina-Ultrabold.otf');
    font-weight: 900;
}


/* Header and Navigation */
header {
    margin: 0 auto;
    position: relative;
    z-index: 1111111;
}

nav {
    max-width: 1376px;
    padding: 8px 10px;
    margin: 31px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 213px;
}

.logo img {
    width: 201px;
    height: 24px;
    cursor: pointer;
}

.nav-items {
    
    display: flex;
    gap: 37.5px;
    align-items: center;
    padding-left: 0;
    height: 13px;
}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.navigation-link-item::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #FFFFFF;

}

.mobile-btn {
    display: none;
}

.desktop-btn {
    padding: 12px 16px;
    background: #fff;
    border-radius: 6px;
    color: #01A590;
    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);
    font-size: var(--font-base-size);
    line-height: 16px;
    border: none;
    cursor: pointer;
}


.toggle-btn {
    width: 28px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.toggle-btn span {
    width: 100%;
    height: 2px;
    background: #fff;
}





/* Hero Section */
.hero {
    position: relative;
    height: 732px;
    margin-top: -140px;
    z-index: 1;
}

.hero-bg {
    max-width: 100%;
    width: 100%;
    height: 832px;
    background-image: url('./images/Rectangle 28 (1).png');
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 97%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.hero-container {
    padding-top: 125px;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 132px;
    position: relative;
    z-index: 3;
}


.hero-images-container {
    position: absolute;
    bottom: -16%;
    right: 3%;
    z-index: 7;
}

.hero-character-front {
    width: auto;
    height: auto;
    z-index: 6;
    position: relative;
    margin-right: 40px;
}


.hero-decoration-orb {
    position: absolute;
    top: -35%;
    right: -5%;
    z-index: 6;
}

.hero-background-abstract {
    position: absolute;
    top: 29%;
    right: 7%;
    z-index: 2;
    

}

.img-4 {
    position: absolute;
    top: -45%;
    left: 14%;
}

.hero-character-background {
    display: none;
}

.hero-title {
    font-family: var(--font-neue-machina);
    font-weight: 800;
    font-size: 64px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: #FFFFFF;
    
    margin-bottom: 40px;
    margin-top: 66px;
}

.hero-desc {
    font-family: var(--font-Euclid);
    font-weight: 400;

    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: 442px;
    padding-left: 68px;
    margin-bottom: 44px;
}

.title-btn {
    font-family: var(--font-Euclid);
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #FFFFFF;
    padding-left: 68px;
}

.hero-horizontal-buttons {
    display: flex;
    gap: 12px;
    padding-left: 68px;
    margin-bottom: 41px;
}

.hero-buy-button-mexc {
    width: 140px;
    height: 56px;
    border-radius: 8px;
    font-family: var(--font-Euclid);
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #38484E;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    background: #FFFFFF;
}

.hero-buy-button-quickswap {
    width: 189px;
    height: 56px;
    border-radius: 8px;
    font-family: var(--font-Euclid);
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #38484E;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    background: #FFFFFF;

}


.hero-community {
    padding-left: 68px;
}

.hero-com-btn {
    display: flex;
    gap: 12px;
}

.hero-community-button {
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    font-family: var(--font-Euclid);
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 56px;
    justify-content: center;
    cursor: pointer;
}



/* Dapp Section */
.dapp-bg {
    background: #F5F9FA;
    
    

    
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 99%);
    margin-top: -100px;

}


.gamesta-dapp-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 223px 195px 212.79px 132px;
    position: relative;



}

.dapp-launch-group-container h6 {
    font-family: var(--font-Euclid);
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0%;
    padding: 9.63px 8.5px;
    background: #00B3E8;
    color: #FFFFFF;
    margin: 0;
    border: none;
}



.dapp-decoration-svg {
    position: absolute;
    width: 359px;
    top: 26%;
    left: -4%;
}

.dapp-card-description {
    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #38484E;


}

.dapp-launch-group-container {
    position: absolute;
    top: 24%;
    right: 23%;
    width: 184px;
    transform: rotate(-6deg);
}

.launch-status-container {
    width: 154px;
    text-align: center;
}

.launch-quarter-box {
    width: 113px;
    margin-left: 35% !important;
    border: none;
    margin-top: -3%;
    text-align: center;
}

.dapp {
    font-family: var(--font-neue-machina);
    font-weight: 900;
    font-style: Black;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-align: start;
    padding-left: 15%;
    text-transform: uppercase;
    color: var(--font-primary-font-color);
    position: relative;
    margin-bottom: 11px;
}

.dapp-intro-paragraph {
    font-family: var(--font-Euclid);
    font-weight: 400;
    max-width: 658px;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    color: var(--font-primary-font-color);
    padding-left: 15%;
    
    margin-top: 0;
    margin-bottom: 0;
}

.dapp-card-container {
    margin: 0 auto;
    padding: 56px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 110px;
    row-gap: 67px;
}

.dapp-card {
    display: flex;
    align-items: top;
    max-width: 490px;
    gap: 24px;
}

.dapp-icon {
    width: 24px;
    height: 24px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 7px 12px 0px #00B3E80D;

}

.dapp-card-title {
    font-family: var(--font-neue-machina);
    font-weight: 800;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #00B3E8;
    margin: 0;

}



/* Future Applications */
.future-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 206px 0 169px;
}

.future-title {
    font-family: var(--font-neue-machina-normal);
    font-weight: 500;
    font-style: Medium;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: var(--font-primary-font-color);
    max-width: 643px;
    margin-top: 49.21px;
    margin-bottom: 29px;
}

.future-applications-button-wrapper {
    max-width: 643px;
    text-align: right;
}

.future-btn {
    padding: 20px 24px;
    font-family: var(--font-Euclid);
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #FFFFFF;
    background: linear-gradient(96.42deg, #06C5C1 17.88%, #009FEA 96.71%);
    box-shadow: 0px 7px 12px 0px #00B3E830;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.future-card-container {
    
    padding-left: 80px;
    margin-bottom: 425px;
    display: flex;
    
    position: relative;
}

.future-app-card-fund {
    position: absolute;
    top: 46%;
    left: 32%;
    box-shadow:
        5px 35px 20px -30px rgba(210, 66, 170, 0.3),
        0 10px 0px -15px rgba(39, 58, 65, 0.2),
        0 0 0px -10px rgba(255, 234, 249, 0.5);
}

.future-app-card-loan {
    position: absolute;
    top: -6%;
    right: 0%;

    box-shadow:
        5px 35px 20px -30px rgba(14, 199, 66, 0.3),

        0 10px 0px -15px rgba(39, 58, 65, 0.2),

        0 0 0px -10px rgba(238, 255, 243, 0.4);


}

.future-app-card-api {
    position: absolute;
    bottom: -164%;
    right: 18%;
    box-shadow:
        5px 35px 20px -30px rgba(95, 14, 199, 0.3),
        0 10px 0px -15px rgba(39, 58, 65, 0.2),
        0 0 0px -10px rgba(248, 243, 255, 0.5);
}

.future-app-card-gpad {
    box-shadow:
        5px 35px 20px -30px rgba(56, 72, 78, 0.15),
        0 10px 0px -15px rgba(39, 58, 65, 0.2),
        0 0 0px -10px rgba(245, 249, 250, 0.5);
}


.future-app-card-gavatar {
    position: absolute;
    right: 26%;
    bottom: -10%;
    box-shadow:
        5px 35px 20px -30px rgba(56, 72, 78, 0.2),
        0 10px 0px -15px rgba(39, 58, 65, 0.2),
        0 0 0px -10px rgba(245, 249, 250, 0.5);
}


.future-app-card-trading {
    position: absolute;
    top: 123%;
    left: 4%;

    box-shadow:
        5px 35px 20px -30px rgba(0, 179, 232, 0.3),
        0 10px 0px -15px rgba(39, 58, 65, 0.2),
        0 0 0px -10px rgba(235, 249, 255, 0.5);
}

.future-app-card-earn {
    position: absolute;
    top: -140%;
    right: 10%;
    box-shadow:
        5px 35px 20px -30px rgba(0, 179, 232, 0.3),
        0 10px 0px -15px rgba(39, 58, 65, 0.2),
        0 0 0px -10px rgba(235, 249, 255, 0.5);
}

.future-app-card-type-one {
    width: 164px;
    height: 164px;
    padding: 32px;
    border-radius: 40px;
    background: #FFEAF9;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
}

.future-app-card-type-two {
    width: 116px;
    height: 116px;
    padding: 32px;
    border-radius: 40px;
    background: #F5F9FA;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
}

.future-app-card-type-three {
    width: 129px;
    height: 129px;
    padding: 32px;
    border-radius: 40px;
    background: #EBF9FF;


    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
}

.future-app-card-type-four {
    width: 135px;
    height: 135px;
    padding: 32px;
    border-radius: 40px;
    background: #EBF9FF;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
}

.future-app-card-icon {
    
}

.future-app-card-paragraph {
    max-width: 187px;
    
    font-family: var(--font-neue-machina);
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--font-primary-font-color);
}

.earn-to-buy-number {
    color: #00B3E8;
}

.loan-to-buy-number {
    color: #0EC742;

}



/* Play 2 Earn */
.play2earn {
    max-width: 1440px;
    padding: 0 180px 0 133px;
    margin: 0 auto;
    position: relative;
}

.play-earn-decoration-svg-one {
    position: absolute;
    top: 13%;
    right: 0%;
}

.play-earn-decoration-svg-two {
    display: none;
}

.play-earn-decoration-svg-three {
    display: none;
}

.play-bg {
    max-width: 1138px;
    height: 144px;
    
    color: transparent;

    margin: 0 auto 18px auto;
    position: relative;
}

.play-earn-heading-secondary {
    font-family: var(--font-neue-machina);
    font-weight: 900;
    font-style: Black;
    font-size: 144px;
    line-height: 100%;
    letter-spacing: 10%;
    text-transform: uppercase;
    transform: rotate(-3deg);
    
    text-align: center;
    -webkit-text-stroke: 1px rgba(0, 179, 232, 1);
    opacity: 0.4;

}

.play-earn-heading-primary {
    font-family: var(--font-neue-machina);
    font-weight: 900;
    font-style: Black;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 10%;
    text-transform: uppercase;
    transform: rotate(-6deg);
    color: var(--font-primary-font-color);
    text-align: center;
    position: absolute;
    top: -33%;
    left: 20%;
}

.play-earn-info-subtitle {
    text-align: center;
    font-family: var(--font-Euclid);
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    color: var(--font-primary-font-color);
    margin: 0;

}

.play-details {
    font-family: var(--font-Euclid);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0em;
    color: #38484E;
    max-width: 582px;
    margin: 0 auto;
    padding-left: 142px;
    padding-top: 8px;

}

.play-2-card-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 112px;
    row-gap: 69px;
    padding-top: 56px;
    padding-bottom: 133px;
}

.play-card {
    display: flex;
    width: 490px;
    height: 208px;
    gap: 24px;
}

.play-title {
    font-family: var(--font-neue-machina);
    font-weight: 800;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #00B3E8;
    margin: 0;
}

.play-earn-article-text {
    font-family: var(--font-Euclid);
    font-weight: 400;

    font-size: 16px;

    line-height: 130%;
    letter-spacing: 0%;
    color: #38484E;

}

.play-earn-icon {
    width: 64px;
    height: 64px;
}



/* Games Section */
.game-title {
    font-family: var(--font-neue-machina);
    font-weight: 900;
    font-style: Black;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 10%;
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 67px 0 133px;
    color: var(--font-primary-font-color);

}


.games-carousel-container {
    max-width: 1440px;
    max-height: 120px;
    padding: 0 67px 0 133px;
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 0 auto;
    justify-content: space-between;
}

.carousel-card-item img {
    padding: 37px 0;
    cursor: pointer;
}











/* Ecosystem & Treasury */
.eco-container {
    max-width: 1440px;
    padding: 0 136.03px 0 32px;
    margin: 0 auto 0 auto;
}

.ecosystem-heading-primary {
    font-family: var(--font-neue-machina-normal);
    font-weight: var(--font-base-weight);
    font-style: medium;
    font-size: 96px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--font-primary-font-color);
    margin: 0;
    padding-left: 97px;
}

.eco-content {
    padding-left: 422px;
}

.eco-para {
    font-family: var(--font-Euclid);
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    color: var(--font-primary-font-color);
    margin-top: 8px;
    max-width: 778px;
    margin-bottom: 0;
}

.gsg-container {
    max-width: 1271.99px;
    position: relative;
}

.gsg-token-container {
    margin-top: -8.5%;
    
}

.gsg-token-background-image {
    position: relative;
}




.gsg-token-prefix {
    position: absolute;
    top: 34%;
    left: 20%;
    font-family: var(--font-abz);
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    transform: rotate(-5deg)
}


.gsg-token-symbol {
    position: absolute;
    top: 34%;
    left: 15%;
    font-family: var(--font-neue-machina);
    font-weight: 900;
    font-size: 88px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--font-primary-font-color);
    transform: rotate(-6deg)
}

.gsg-token-text-container {
    position: absolute;
    top: 53%;
    right: 0%;
    
    width: 882px;
}

.gsg-token-text-container h1 {
    font-family: var(--font-abz);
    font-weight: 400;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: 0em;
    margin: 0;
    background: #00B3E8;
    color: #FFFFFF;
    text-align: center;
    border: none;
    padding: 9.63px 16.75px;
    transform: rotate(-6deg);
}

.gsg-token-text-line-one h1 {
    max-width: 418px;

}

.gsg-token-text-line-two h1 {
    max-width: 543px;
    margin-left: 21%;
    margin-top: -4%;

}

.gsg-token-text-line-three h1 {
    max-width: 554px;
    margin-left: 35%;
    margin-top: -2%;
}


.gsg-token-paragraph-primary {
    position: absolute;
    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);
    font-style: Regular;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right;
    color: var(--font-primary-font-color);
    max-width: 404px;
    text-align: start;
    top: 17%;
    right: 11%;
}

.gsg-token-paragraph-secondary {
    position: absolute;
    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right;
    color: var(--font-primary-font-color);
    max-width: 270px;
    bottom: 4%;
    left: 0%;

}





/* Distribution Section */
.distribution-container {
    max-width: 1440px;
    padding: 0 102.63px 0 160.99px;
    margin: 0 auto 160.26px auto;
}

.dist-title {
    font-family: var(--font-neue-machina-normal);
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: var(--font-primary-font-color);
    margin-top: 42px;
    margin-bottom: 0;


}

.distribution-paragraph {
    font-family: var(--font-Euclid);
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    color: var(--font-primary-font-color);
    margin-top: 32.77px;
}

.distribution-twenty-percent-image {
    
    left: 50%;
    transform: translateX(14%);
}


.distribution-paragraph-secondary {
    margin-bottom: 36.79px !important;
}

.distribution-content {
    display: flex;
    justify-content: space-between;
    gap: 110.11px;
    padding-top: 82.44px;
}

.distribution-content-secondary {
    text-align: center;
    padding-top: 72.97px;
    position: relative;
}

.percent {
    display: flex;
    gap: 53px;
    text-align: start;
}

.percent-distribution-paragraph {
    font-family: var(--font-Euclid);
    font-weight: 400;
    font-size: 14px;
    line-height: 133%;
    letter-spacing: 0%;
    color: var(--font-primary-font-color);
}

.distribution-decoration-svg {
    position: absolute;
    top: 0%;
    left: -17%;
}



/* Agency Section */
.agency-container {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.agency-decoration-svg-top {
    position: absolute;
    left: 0%;
    top: 48%;
    z-index: 1111;
}

.agency-decoration-svg-bottom {
    position: absolute;
    right: 0%;
    top: 48%;
    z-index: 111;
}


.agency-background-shape {
    position: relative;
    z-index: 0;
}

.agency-title-background {
    position: absolute;
    font-family: var(--font-neue-machina);
    font-weight: 900;
    
    font-size: 208px;
    line-height: 100%;
    letter-spacing: 10%;
    text-align: center;
    text-transform: uppercase;
    top: -15%;
    left: 11.5%;
    background: transparent;
    width: 1103px;

}

.agency-bg {
    display: none;
}

.agency-word {
    width: 1103px;
    font-family: var(--font-neue-machina);
    font-weight: 900;
    
    color: transparent;
    font-size: 208px;
    line-height: 100%;
    letter-spacing: 0.1em !important;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #FFFFFF;
    opacity: 0.4;
}

.agency-rectangle-decoration-one {
    position: absolute;
    top: -10%;
    right: 14%;
}

.agency-rectangle-decoration-two {
    position: absolute;
    bottom: 6%;
    left: 13%;

}

.agency-artboard-image {
    position: absolute;
    top: -3%;
    left: 34%;
    z-index: 1;
}

.agency-description-heading {
    position: absolute;
    font-family: var(--font-abz);
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    max-width: 507px;
    top: 47%;
    left: 32%;

    margin: 0 auto;

}

.agency-description-paragraph {
    position: absolute;
    max-width: 646px;
    font-family: var(--font-abz);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    top: 62%;
    left: 27.5%;
    margin: 0 auto;
}

.agency-button-container {
    position: absolute;
    bottom: 5%;
    left: 42%;

    text-align: center;
}

.agency-button {
    font-family: var(--font-Euclid);
    font-weight: 400;
    font-style: Medium;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #FFFFFF;
    background: linear-gradient(96.42deg, #06C5C1 17.88%, #009FEA 96.71%);
    width: 200px;
    height: 56px;
    box-shadow: 0px 7px 12px 0px #00B3E830;
    border-radius: 6px;
    border: none;
    text-align: center;
    cursor: pointer;
}


/* Incubation & Advisory */
.incubation {
    max-width: 1440px;
    margin: 169.42px auto 0 auto;
    padding: 0 80px 0 169px;
    position: relative;
}

.incubation-decoration-svg {
    position: absolute;
    bottom: 33%;
    left: 0%;
}

.incubation-section-title {
    font-family: var(--font-neue-machina-normal);
    font-weight: 500;
    font-style: Medium !important;
    font-size: 96px;
    line-height: 120%;
    letter-spacing: 0em;
    color: var(--font-primary-font-color);
    text-align: center;
    margin-top: 0;
    margin-bottom: 18px;
}

.incubation-content {
    padding-left: 178px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 152px;
}

.incubation-description-paragraph {
    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);
    font-style: normal;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    margin: 0;
    color: var(--font-primary-font-color);
    max-width: 873px;
}

.incubation-services-heading {
    font-family: var(--font-Euclid);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #38484E;
    margin: 0;
}

.tick-list {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 113px;
    row-gap: 23px;
    margin: 0;
}

.tick-list li {
    position: relative;
    padding-left: 25px;
    font-family: var(--font-Euclid);
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #38484E;

}

.tick-list li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #00B3E8;
    font-weight: bold;
}



/* Black Gamex Card */
.black-gamex-section {
    
    height: 911px;

    position: relative;
    
    overflow: visible;
    clip-path: polygon(0 0, 15% 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 79%, 85% 79%, 100% 79%, 58% 89%, 56% 82%, 0 92%);




}

.black-bg {
    background: #1B1F21;
    
    
    clip-path: polygon(0 7%, 100% 18%, 100% 100%, 0 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.black-gamex-decoration-svg-one {
    position: absolute;
    bottom: 20%;
    left: 0%;
}

.black-gamex-decoration-svg-two {
    position: absolute;
    top: 33%;
    right: -4%;
}

.black-container {
    max-width: 1610px;
    max-height: 911px;
    margin: 0 auto;
    padding: 0 234px 0 150.66px;
    overflow: visible;
}

.black-title {
    padding-top: 114px;
    position: relative;
}

.black-gamex-title-primary {
    font-family: var(--font-neue-machina-normal);
    font-weight: 500;
    font-style: Medium;
    font-size: 112px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #FFFFFF;
    transform: rotate(-6deg);
    margin: 0
}

.black-gamex-paragraph {
    font-family: var(--font-Euclid);
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: justify;
    color: #FFFFFF;
    max-width: 441.99px;
    z-index: 0;
}

.black-gamex-paragraph span a {
    color: #00B3E8;
    z-index: 1;
    position: relative;
    text-decoration: none;
}

.black-gamex-paragraph span a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    

    bottom: 4px;
    height: 2px;
    background-color: #00B3E8;
    z-index: -1;
}


.black-p-container {
    margin-top: 21%;
    margin-left: 15%;
}

.card-img {
    position: absolute;
    top: 1%;
    right: -13%;
    z-index: 9999;
    
}



