@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global variables */
:root {
    --font-neue-machina: 'Neue Machina';
    --font-neue-machina-normal: 'Neue Machina-regular';
    --font-neue-machina-light: 'Neue Machina-light';
    --font-Euclid: 'Euclid Circular A';
    --font-abz: "ABeeZee", sans-serif;
    --font-base-weight: 400;
    --font-base-size: 13px;
    --font-primary-size: 16px;
    --font-secondary-size: 18px;
    --font-20-size: 20px;
    --font-primary-font-color: #273A41;
    --font-secondary-font-color: #00B3E8;
}


/* Base styles */
html,
body {
    overflow-x: hidden;
    touch-action: pan-y;
    margin: 0;
    padding: 0;
}


/* Font definitions */
@font-face {
    font-family: 'Euclid Circular A';
    src: url(./fonts/Euclid\ Circular\ A\ Regular.ttf);
}

@font-face {
    font-family: 'Neue Machina-regular';
    src: url('./fonts/NeueMachina-Regular.otf')  format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Neue Machina-light';
    src: url('./fonts/NeueMachina-Light.otf') format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('./fonts/NeueMachina-Ultrabold.otf') format("opentype");
    font-weight: 900;
}


/* Header and Navigation */
header {
    margin: 0 auto;
    position: relative;
    z-index: 1111111;
}

nav {
    max-width: 1376px;
    padding: 8px 10px;
    margin: 31px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 213px;
}

.logo img {
    width: 201px;
    height: 24px;
    cursor: pointer;
}

.nav-items {
    
    display: flex;
    gap: 37.5px;
    align-items: center;
    padding-left: 0;
    height: 13px;
}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    transition: text-decoration 0.3s ease;
    position: relative;
}

.n::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all .5s;

}



.mobile-btn {
    display: none;
}

.desktop-btn {
    padding: 12px 16px;
    background: #fff;
    border-radius: 6px;
    color: #01A590;
    font-family: var(--font-Euclid);
    font-weight: var(--font-base-weight);
    font-size: var(--font-base-size);
    line-height: 16px;
    border: none;
    transition: transform 0.3s ease;
    cursor: pointer;
}


    


.toggle-btn {
    width: 28px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.toggle-btn span {
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}





/* Hero Section */
.hero {
    position: relative;
    height: 732px;
    margin-top: -140px;
    z-index: 1;
    background-color: #F5F9FA;
}

.hero-bg {
    max-width: 100%;
    width: 100%;
    height: 832px;
    background-image: url('./images/Rectangle 28 (1).png');
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 97%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
   
}

.hero-container {
    padding-top: 125px;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 132px;
    position: relative;
    z-index: 3;
}


.her-img {
    position: absolute;
    bottom: -16%;
    right: 3%;
    z-index: 7;
}

.img-1 {
    width: auto;
    height: auto;
    z-index: 6;
    position: relative;
    margin-right: 40px;
}


.img-2 {
    position: absolute;
    top: -35%;
    right: -4.5%;
    z-index: 6;
}

.img-3 {
    position: absolute;
    top: 28%;
    right: 7%;
    z-index: 2;
    

}

.img-4 {
    position: absolute;
    top: -45%;
    left: 14%;
}

.img-10 {
    display: none;
}

.hero-title {
    font-family: var(--font-neue-machina);
    font-weight: 800;
    font-size: 64px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: #FFFFFF;
    
    margin-bottom: 40px;
    margin-top: 66px;
}

.hero-desc {
    font-family: var(--font-Euclid);
    font-weight: 400;

    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: 442px;
    padding-left: 68px;
    margin-bottom: 44px;
}

.title-btn {
    font-family: var(--font-Euclid);
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #FFFFFF;
    padding-left: 68px;
}

.h-btns {
    display: flex;
    gap: 12px;
    padding-left: 68px;
    margin-bottom: 41px;
}

.btn-1 {
    width: 140px;
    height: 56px;
    border-radius: 8px;
    font-family: var(--font-Euclid);
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #38484E;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    background: #FFFFFF;
}

.btn-2 {
    width: 189px;
    height: 56px;
    border-radius: 8px;
    font-family: var(--font-Euclid);
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #38484E;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    background: #FFFFFF;

}



.hero-community {
    padding-left: 68px;
}

.hero-com-btn {
    display: flex;
    gap: 12px;
}

.he-com-btn {
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    font-family: var(--font-Euclid);
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 56px;
    justify-content: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}



/* dApp */

.dapp{
   font-family: var(--font-neue-machina);
font-weight: 900;
font-size: 64px;
line-height: 100%;
letter-spacing: 10%;
text-align: center;
text-transform: uppercase;
color: #273A41;
padding-top: 70px;

}
.dapp-bg{
    background-color: #F5F9FA;
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%); 

}
.launch, .q4{
    font-family: var(--font-Euclid);
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 16px;
letter-spacing: 0%;
background-color: #00B3E8;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
}
.launch{
    max-width: 154px;
    max-height: 32px;
    translate: 1290px -90px;
    rotate: -5deg;
}
.q4{
      max-width: 113px;
    max-height: 32px;
    translate: 1370px -95px;
    rotate: -5deg;
}

.dapp-p{
font-family: var(--font-abz);
font-weight: 400;
font-size: 24px;
color: #273A41;
line-height: 140%;
letter-spacing: 0%;
text-align: center;
max-width: 660px;
justify-self: center;
}
.dapp-card{
    display: flex;
    align-items: flex-start;
    gap: 24px;
    max-width: 490px;
   
    
}
.group{
    display: none;
}
.dapp-card-title{
    font-family: var(--font-neue-machina);
font-weight: 800;
font-size: 28px;
color: #00B3E8;
line-height: 100%;
letter-spacing: 0%;
margin-top: 0;
margin-bottom: 12px;

}
.dapp-card-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 67px 110px;
    padding-top: 55px;
    padding-left:200px ;
    padding-right:200px ;
    padding-bottom: 210px;
    

    
}
.as-p{
    font-family: var(--font-abz);
font-weight: 400;
font-size: 16px;
line-height: 130%;
letter-spacing: 0%;
color: #38484E;

}
.dap-icon-div{
    width: 64px;
    height: 64px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dap-icon-div img{
    padding: 20px;
}


/* future application */

.future-container{
    /* padding-left: 170px;
    padding-right: 170px; */
    display: grid;
    justify-content: center;
    position: relative;
     padding-bottom: 600px;
    
}

.future-title{
font-family: var(--font-neue-machina-normal);
font-weight: 500;
font-size: 96px;
line-height: 100%;
letter-spacing: 0%;
text-align: right;
color: #273A41;
max-width: 645px;
justify-self: center;
}
.future-btn{
    font-family: var(--font-Euclid);
font-weight: 500;
font-size: 16px;
line-height: 16px;
letter-spacing: 0%;
color: #FFFFFF;
border: none;
max-width: 270px;
height: 56px;
background: linear-gradient(96.42deg, #06C5C1 17.88%, #009FEA 96.71%);
border-radius: 6px;
box-shadow: 0px 7px 12px 0px #00B3E830;


}
.f-btn-div{
    display: flex;
    justify-content: center;
}

.f-card-1{
    width: 228px;
    height: 228px;
    border-radius: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.f-card-2{
    width: 180px;
    height: 180px;
    border-radius: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
      justify-items: center;
      text-align: center;
      background-color: #F5F9FA;
}

.f-card-3{
    width: 190px;
    height: 190px;
    border-radius: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
      justify-items: center;
      text-align: center;
      background-color: #EBF9FF;
}
.f-card-4{
    width: 200px;
    height: 200px;
    border-radius: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
      justify-items: center;
      text-align: center;
      background-color: #EBF9FF;
}

.card-1{
    background-color: #FFEAF9;
    box-shadow: 0px 7px 12px 0px #ffeaf9c2;
    position: absolute;
    top: 430px;
    right: 45%;
    

    
}
.card-2{
     box-shadow: 0px 7px 12px 0px #eefff3b4;
    position: absolute;
    right: 374px;
    top: 332px;
}
.card-3{
   box-shadow: 0px 7px 12px 0px #f8f3ffab;
    position: absolute;
    right: 548px;
    bottom: 149px;
}
.card-4{
    box-shadow: 0px 7px 12px 0px #f5f9faa1;
    position: absolute;
    top: 385px;
    left: 498px;
}
.card-5{
     box-shadow: 0px 7px 12px 0px #f5f9fa9d;
     position: absolute;
    right: 645px;
}
.card-6{
    box-shadow: 0px 7px 12px 0px #ebf9ffa6;
    position: absolute;
    top: 600px;
    left: 530px;
}
.card-7{
    box-shadow: 0px 7px 12px 0px #ebf9ff96;
    position: absolute;
    top: 66px;
    right: 395px;
}
.card-7 span{
    color: #00B3E8;
}
.card-2 span{
    color: #19d451;
}
.card-1, .card-2, .card-3, .card-4, .card-5, .card-6, .card-7{
font-family: var(--font-neue-machina);
font-weight: 800;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;

}

/* play2earn */
.play2earn{
    position: relative;
}
.play-head1{
    font-family: var(--font-neue-machina);
font-weight: 900;
font-size: 96px;
color: #273A41;
line-height: 100%;
letter-spacing: 10%;
text-transform: uppercase;
text-align: center;
transform: rotate(-6deg);
margin-bottom: 0;
}
.play-head{
    font-family: var(--font-neue-machina);
font-weight: 900;
color: transparent;
 -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00B3E8;
font-size: 144px;
line-height: 100%;
letter-spacing: 10%;
text-transform: uppercase;
transform: rotate(-3deg);
text-align: center;
position: relative;
top: -220px;
z-index: -1;
opacity: 50%;
margin-bottom: 0;
}
.play-svg{
    position: absolute;
    right: 1px;
    top: 175px;
}
.play-info{
    text-align: center;
    font-family: var(--font-abz);
font-weight: 400;
font-size: 24px;
line-height: 140%;
letter-spacing: 0%;
color: #273A41;
margin: 0;

}
.play-details{
    font-family: var(--font-abz);
font-weight: 400;
font-size: 16px;
line-height: 130%;
letter-spacing: 0%;
text-align: center;
max-width: 585px;
justify-self: center;
color: #38484E;
}
.play-bg{
   height: 150px;
}

.play-2-card-container{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    position: relative;
     padding-top:50px;
     justify-self: center;
     gap: 100px;
}
.play-card{
     display: flex;
    align-items: flex-start;
    gap: 24px;
    max-width: 490px;
}

.play-title{
     font-family: var(--font-neue-machina);
font-weight: 800;
font-size: 28px;
color: #00B3E8;
line-height: 100%;
letter-spacing: 0%;
margin-top: 0;
margin-bottom: 12px;
}
.ad-p-1{
    font-family: var(--font-abz);
font-weight: 400;
font-size: 16px;
line-height: 130%;
letter-spacing: 0%;
color: #38484E;
}