@font-face {
    font-family: "ABeeZee";
    src: url(/fonts/ABeeZee-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Neue Machina";
    src: url(/fonts/NeueMachina-Regular.otf) format("opentype");
    src: url(/fonts/NeueMachina-Ultrabold.otf) format("opentype");
}

@font-face {
    font-family: "Euclid Circular A";
    src: url(/fonts/Euclid-Circular-A-Regular.ttf) format("truetype");
    src: url(/fonts/Euclid-Circular-A-Medium.ttf) format("truetype");
    src: url(/fonts/Euclid-Circular-A-SemiBold.ttf) format("truetype");
    src: url(/fonts/Euclid-Circular-A-Bold.ttf) format("truetype");
}


/* navbar */

.navbar {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 38px;
}

.nav-menu li {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
}

.stake {
    width: 99;
    height: 40;
    gap: 10px;
    border-radius: 6px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;

    font-family: "Euclid Circular A", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #01A590;

}

.menu-toggle {
    display: none;
}

.hero-container {
    background: url(/images/hero-bg.png);
}


@media (max-width:1100px) {

    .stake,
    .nav-menu {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .navbar {
        padding-top: 24px;
    }
}





/* hero */

.hero-content {
    max-width: 65%;
    color: white;
    text-align: center;
    display: grid;
    justify-content: center;
}

.hero-content h1 {
    font-size: 64px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 24px;
    font-family: "Neue Machina", sans-serif;
}

.hero-content p {
    font-size: 18px;
    opacity: 0.9;
    margin-bottom: 40px;
    font-family: "ABeeZee", sans-serif;
    /* max-width: 445px; */
}

.buy-buttons,
.social-buttons {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    justify-content: center;
}

.social-buttons button {
    background: transparent;
    border: 1px solid white;
    border-radius: 6px;
    color: #FFFFFF;
    gap: 10px;
    border-radius: 6px;
    border-width: 1px;
    padding: 16px;

}

.buy-btn {
    padding: 14px 28px;
    border-radius: 12px;
    border: none;
    background: white;
    font-weight: 600;
    cursor: pointer;
    color: #38484E;
}

.hero-visual {
    position: relative;
    width: 600px;
}

.laptop {
    width: 100%;
    position: relative;
    z-index: 2;
    left: 183%;
}

.characters {
    position: absolute;
    right: -40px;
    top: -120px;
    width: 700px;
    z-index: 3;
}

.hero-bottom-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background: white;
    clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0% 100%);
}