@font-face {
    font-family: "ABeeZee";
    src: url(/fonts/ABeeZee-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Neue Machina";
    src: url(/fonts/NeueMachina-Regular.otf) format("opentype");
    src: url(/fonts/NeueMachina-Ultrabold.otf) format("opentype");
}
@font-face {
    font-family: "Euclid Circular A";
    src: url(/fonts/Euclid-Circular-A-Regular.ttf) format("truetype");
    src: url(/fonts/Euclid-Circular-A-Medium.ttf) format("truetype");
    src: url(/fonts/Euclid-Circular-A-SemiBold.ttf) format("truetype");
    src: url(/fonts/Euclid-Circular-A-Bold.ttf) format("truetype");
}