@font-face {
    font-family: "ABeeZee";
    src: url(/fonts/ABeeZee-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Neue Machina";
    src: url(/fonts/NeueMachina-Regular.otf) format("opentype");
    src: url(/fonts/NeueMachina-Ultrabold.otf) format("opentype");
}
@font-face {
    font-family: "Euclid Circular A";
    src: url(/fonts/Euclid-Circular-A-Regular.ttf) format("truetype");
    src: url(/fonts/Euclid-Circular-A-Medium.ttf) format("truetype");
    src: url(/fonts/Euclid-Circular-A-SemiBold.ttf) format("truetype");
    src: url(/fonts/Euclid-Circular-A-Bold.ttf) format("truetype");
}


/* navbar */

.navbar{
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 38px;
}
.nav-menu li{
font-family: "ABeeZee", sans-serif;
font-weight: 400;
font-size: 13px;
color: #FFFFFF;
}
.stake{
width: 99;
height: 40;
gap: 10px;
border-radius: 6px;
padding-top: 12px;
padding-right: 16px;
padding-bottom: 12px;
padding-left: 16px;

font-family: "Euclid Circular A", sans-serif;
font-weight: 400;
font-size: 13px;
color: #01A590;

}
.menu-toggle{
    display: none;
}
.hero-container{
    background: url(/images/hero-bg.png);
}


@media (max-width:1100px) {
    .stake, .nav-menu{
        display: none;
    }
    .menu-toggle{
        display: flex;
    }
    .navbar{
        padding-top: 24px;
    }
}